.add-to-do {
  background: $secondary-color;
  color: $primary-color;
  padding: 1rem;
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  right: 5%;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 2em;
  text-decoration: none;

  .plus {
    height: 100%;
    transform: scale(5);
    transform: translate(0%, -60%);
    color: $primary-color;
  }
}
