.todo-category-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background: $text-color;
  color: darken($secondary-color, 7);

  .cat-icon {
      margin: 1rem;
  }

  .task-name {
      margin: 1rem 1rem 0 1rem;
  }

  .task-no {
      margin: 0.2rem 1rem 1rem 1rem;
  }
}
